// -*- mode: web -*-
{namespace coleslaw.theme.shukry}

{template base}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Shukry Theme</title>
        <meta name="author" content="Shukry Zablah">
        <meta name="description" content="Personal site of Shukry Zablah">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <nav>
            <a href="{$config.domain}">{$config.title}</a> |
            {foreach $link in $config.sitenav}
            {if $link.relative}
            <a href="{$config.domain}/{$link.url}">{$link.name}</a>
            {else}
            <a href="{$link.url}">{$link.name}</a>
            {/if}
            {if not isLast($link)} {sp}|{sp} {/if}
            {/foreach}

        </nav>
        <div id="content">
            {$raw |noAutoescape}
        </div>
    </body>

</html>
{/template}
