// -*- mode: web -*-
{namespace coleslaw.theme.shukry}

{template base}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{$config.title}</title>
        <meta name="author" content="{$config.author}">
        <meta name="description" content="Personal site of Shukry Zablah">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
        <link href= "{$config.domain}/css/tango.css" rel="stylesheet" type="text/css" />
        <link href= "{$config.domain}/css/style.css" rel="stylesheet" type="text/css" />
        {if $injections.head}
            {foreach $injection in $injections.head}
                {$injection | noAutoescape}
            {/foreach}
        {/if}
    </head>

    <body>
        <nav>
            <a href="{$config.domain}">{$config.title}</a> |
            {foreach $link in $config.sitenav}
            {if $link.relative}
            <a href="{$config.domain}/{$link.url}">{$link.name}</a>
            {else}
            <a href="{$link.url}">{$link.name}</a>
            {/if}
            {if not isLast($link)} {sp}|{sp} {/if}
            {/foreach}

        </nav>

        <header>
            <h1> Shukry Zablah </h1>
        </header>
        
        <main id="content">
            {$raw |noAutoescape}
        </main>

        <footer>
            © 2020 - 2021 {$config.author}
        </footer>

        {if $injections.body}
            {foreach $injection in $injections.body}
                {$injection | noAutoescape}
            {/foreach}
        {/if}

    </body>

</html>
{/template}
