// -*- mode: web -*-

{namespace coleslaw.theme.shukry}

{template index}
{foreach $obj in $index.content}
<h1><a href="{$config.domain}/{$obj.url}">{$obj.title}</a></h1>
    {$obj.excerpt | noAutoescape}
{/foreach}
{/template}
